body {
    transition: all 0.5s linear;
  }
  
  body.light {
    background-color: #fff;
    color: #000;
  }
  
  body.dark {
    background-color: #000;
    color: #fff;
  }
  
  .toggle-button {
    padding: 0.6rem;
    cursor: pointer;
    margin: 1rem;
    border: none;
    transition: all 0.3s linear;
  }
  
  body.light .toggle-button {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
  }
  
  body.dark .toggle-button {
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
  }
  